<a href="https://colab.research.google.com/github/Arush0113/EEG_Pipeline-IITR/blob/main/DEAP_Dataset_EEG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

import tensorflow as tf

from sklearn.metrics import confusion_matrix, classification_report

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
data = pd.read_csv('/content/drive/MyDrive/features_raw_eeg_deap.csv')
data

           Fp1        AF3         F3  ...        PO4         O2  Unnamed: 32
0     0.057813  -1.335266   4.640480  ...   2.637905  -5.226618          NaN
1     1.367408  10.259654   3.345409  ...  -3.521353   1.887093          NaN
2    -1.783132   4.133553  -0.951680  ...  -7.383004  -4.489537          NaN
3    -3.690217  -0.814000   2.295469  ...   2.774530  -6.323060          NaN
4     2.137114   6.420466   6.122230  ...   6.161845   3.308816          NaN
...        ...        ...        ...  ...        ...        ...          ...
8059  2.371097   6.525279  -1.470521  ... -25.823920  -3.558200          NaN
8060  5.408372   7.813431  -5.203169  ... -57.219852 -11.860173          NaN
8061 -1.308237   1.166170  -3.158261  ... -28.783795  -3.566724          NaN
8062 -2.095682   4.284166  -6.136204  ... -28.039497  -3.643652          NaN
8063  2.641319   3.967536 -11.562283  ... -58.936422 -10.919237          NaN

[8064 rows x 33 columns]