<a href="https://colab.research.google.com/github/Arush0113/EEG_Pipeline-IITR/blob/main/team02/Raw_EEG_Subject_AB6_implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
gonogo_run1_channels = pd.read_csv('/content/drive/MyDrive/Subject AB6 EEG/sub-AB6/eeg/sub-AB6_task-gonogo_run-1_channels.tsv', delimiter = '\t')
gonogo_run1_channels

   name  type units
0   AF3   EEG    uV
1   AF4   EEG    uV
2    F7   EEG    uV
3    F5   EEG    uV
4    F3   EEG    uV
..  ...   ...   ...
59   O2   EEG    uV
60  CB2   EEG    uV
61  VEO  VEOG    uV
62  HEO  HEOG    uV
63  EKG   ECG    uV

[64 rows x 3 columns]

In [16]:
gonogo_run1_electrodes = pd.read_csv('/content/drive/MyDrive/Subject AB6 EEG/sub-AB6/eeg/sub-AB6_task-gonogo_run-1_electrodes.tsv', delimiter = '\t')
gonogo_run1_electrodes

   name     x     y      z
0   AF3  8.92  2.98   3.14
1   AF4  9.20 -3.71   2.80
2    F7  4.89  6.56   0.45
3    F5  5.41  5.70   3.35
4    F3  6.14  3.70   5.25
..  ...   ...   ...    ...
59   O2 -8.88 -3.21   0.55
60  CB2 -9.05 -2.72  -1.93
61  VEO  8.19  4.22  -2.28
62  HEO  5.35  5.29  -4.04
63  EKG -2.36  2.65 -26.34

[64 rows x 4 columns]

In [17]:
gonogo_run1_events = pd.read_csv('/content/drive/MyDrive/Subject AB6 EEG/sub-AB6/eeg/sub-AB6_task-gonogo_run-1_events.tsv', delimiter = '\t')
gonogo_run1_events

       onset  duration  sample    trial_type  response_time  stim_file  value
0      1.958       NaN     979    task start            NaN        NaN      9
1      7.282       NaN    3641           cue            NaN        NaN      1
2      9.064       NaN    4532            go            NaN        NaN      2
3      9.408       NaN    4704  button press            NaN        NaN      5
4     14.906       NaN    7453           cue            NaN        NaN      1
..       ...       ...     ...           ...            ...        ...    ...
147  461.736       NaN  230868           cue            NaN        NaN      1
148  463.286       NaN  231643            go            NaN        NaN      2
149  463.534       NaN  231767  button press            NaN        NaN      5
150  468.656       NaN  234328           cue            NaN        NaN      1
151  485.642       NaN  242821      task end            NaN        NaN     10

[152 rows x 7 columns]

In [18]:
gonogo_run2_channels = pd.read_csv('/content/drive/MyDrive/Subject AB6 EEG/sub-AB6/eeg/sub-AB6_task-gonogo_run-2_channels.tsv', delimiter = '\t')
gonogo_run2_channels

   name  type units
0   AF3   EEG    uV
1   AF4   EEG    uV
2    F7   EEG    uV
3    F5   EEG    uV
4    F3   EEG    uV
..  ...   ...   ...
59   O2   EEG    uV
60  CB2   EEG    uV
61  VEO  VEOG    uV
62  HEO  HEOG    uV
63  EKG   ECG    uV

[64 rows x 3 columns]